:root {
  --primary-color: #448eee;
  --secondary-color: #d2f7ef;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  background: linear-gradient(-225deg, #edcef7 0%, #edcef7 0%, #edcef7 100%);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  text-shadow: 5px 5px 10px rgba(47, 41, 47, 0.4);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
}
nav {
  padding: 20px 0;
}

nav li.active a {
  color: var(--primary-color);
}

.logo {
  max-width: 200px;
}

.hero {
  background-color: #e7d7f7;
  text-align: center;
  padding: 160px 20px;
}

.project-description {
  padding: 0;
  text-align: center;
}

.content {
  text-align: center;
  padding: 0;
}

.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 36px;
    text-align: center;
  }
  p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
